:root {
    --black: #272a31; 
    --orange: #ec5242; 
    --grey: #d3d3d3;
    --font-lato: 'Lato', 'san-serif';
    --font-poppins: 'poppins';
    --font-cocogoose: 'COCOGOOSE', 'san-serif';
    --hamburger-color: #545454;
    --hover-text-decoration: 'none';
    --margin-top-sections: 100px;
    --margin-left-lg: 100px;
}

body {
    background-image: url(./Graphics/background.svg);
    background-size:contain;
    background-repeat: no-repeat;
}

.top-panel {
    display: none;
}

.navigation {
    background-color: #fff;
}

.hamburger {
    width: 50px;
    height: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.line {
    display: block;
    margin: 2px auto;
    background-color: var(--hamburger-color);
    width: 32px;
    height: 6px;
}


.first-text {
    font-family: var(--font-lato);
    color: var(--orange);
}

.topic {
    font-family: var(--font-cocogoose);
    font-size: 3rem;
    color: transparent;
    background-image: url(./Graphics/textback.jpg);
    background-size: cover;
    background-clip:text;
    -webkit-background-clip: text;
}

.topic-description {
    font-family: var(--font-lato);
    font-size: 0.85rem;
    font-weight: 400;
    color: var(--black);
}

.date {
    color: var(--black);
    font-family: var(--font-cocogoose);
}

.location {
    font-family: 'poppins';
    font-weight: 500;
    font-size: 0.8rem;
}

.main {
    background-color: var(--black);
    position: relative;
    background-image: url(./Graphics/cross.svg);
    background-size: 20px;
}

.main-program {
    font-family: var(--font-lato);
    font-weight: 500;
    z-index: 3;
}


.baseline {
    background-color: var(--orange);
    width: 50px;
    height: 1px;
    margin: 1px auto;
    z-index: 3;
}

.block {
    background-color: #63687748;
}

.icon {
    width: 28px;
}

.program {
    font-family: var(--font-lato);
    font-size: 0.7rem;
    font-weight: 600;
    color: var(--orange);
    /* margin: 0 auto; */
}

.program-description {
    font-family: var(--font-lato);
    font-weight: 500;
    font-size: 0.6rem;
    width: 50%;
    margin: 0 auto;
}


.chess {
    width: 65px;
    position: absolute;
    bottom: 70px;
}

.people {
    width: 120px;
}

.people::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-image: url(./Graphics/light-chees-background.svg);
    background-repeat: no-repeat;
    background-size: 100px;
}


.people-name {
    font-family: var(--font-lato);
    font-weight: 600;
    font-size: 1.3rem;
}

.people-description {
    font-family: var(--font-lato);
    color: var(--orange);
    font-size: 0.9rem;
    font-weight: 600;
}

.expand-description {
    font-family: var(--font-lato);
    font-size: 0.8rem;
    font-weight: 500;
    color: var(--black);
}

.join {
    background-color: var(--orange);
    outline: none;
    border: none;
    color: var(--grey);
    align-items: center;
}

.join:active {
    background-color: #f03b27;
}

.desktop-buttone {
    display: none;
}

.more {
    color: var(--black);
    font-family: var(--font-lato);
    border: 2px solid var(--grey);
    background-color: #fff;
    border-radius: 3px;
}

.arrow {
    width: 12px;
}

/* The about page styles */

.about-description {
    border: 2px solid var(--grey);
}

.about-topic {
    font-family: var(--font-cocogoose);
    font-size: 2rem;
    color: var(--orange);
}

.mail a{
    font-family: var(--font-lato);
    font-weight: bold;
    font-size: 0.8rem;
    color: var(--black);
}

.mail:hover a {
    text-decoration: var(--hover-text-decoration);
}

.logo-text {
    font-family: var(--font-lato);
    font-weight: 600;
}

.logo-decide {
    font-family: var(--font-lato);
    font-size: 0.8rem;
}

.logo-wrapper {
    width: 50px;
    display: flex;
    justify-content: center;
}

.logo-wrapper {
    margin: 0 auto;
}

.logo {
    width: 200px;
}

.graduates {
    margin-top: var(--margin-top-sections)
}

.graduates-header {
    font-family: var(--font-lato);
    font-weight: 700;
}

.gradPhoto, .gradPhotoes  {
    margin: 0 auto;
    height: 240px;
    padding: 20px;
    padding-top: 95px;
    background-image: url(./Graphics/grads/dev.jpg);
    background-size: cover;
    position: relative;
    z-index: -1;

}

.gradPhoto:hover {
    background-size: 500px;
}

.gradPhoto::before, .gradPhotoes::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #f03b27a2;
    z-index: -1;

}

.gradPhotoes {
    background-image: url(./Graphics/grads/devs.jpg);
}

.year {
    font-family: var(--font-poppins);
    font-weight: 600;
    color: #fff;
}

.below-year {
    font-family: var(--font-lato);
    color: #fff;
}

.thepartners {
    background-color: var(--black);
}

.partner {
    font-family: var(--font-lato);
    font-weight: 500;
    color: #fff;
}


.companies img {
    width: 100px;
}

.logo-end {
    width: 100px;
}

.end-text {
    font-family: var(--font-lato);
    font-size: 0.7rem;
    font-weight: 600;
}

@media screen and (min-width: 768px) {
    .top-panel {
        background-color: var(--black);
        height: 30px;
        display: flex;
        justify-content: end;
    }

    .top-text {
        font-family: var(--font-lato);
        font-weight: 520;
    }

    .social {
        margin-left: 18px;
        width: 12px;
    }

    .twitter {
        margin-right: 100px;
        width: 20px;
    }

    .navigation {
        background-color: #fff;
    }

    .nav-logo {
        margin-left: 70px;
        width: 240px;

    }

    .cam-btn {
        margin-left: 200px;
        border: 2px solid var(--orange);
        color: var(--orange);
        border-radius: 0px;
    }

    .items {
        position: relative;
        left: 10rem;
        top:8px;
    }

    .items li a{
        text-decoration: none;
        color: var(--black);
        font-family: var(--font-lato);
        font-weight: 600;
        font-size: 0.8rem;
    }

    .items li:nth-child(1) a {
        color: var(--orange);
    }

    .first-text,
    .topic,
    .topic-description,
    .date,
    .location {
        margin-left: var(--margin-left-lg);
    }

    .topic {
        width: 60%;
        font-size: 3rem;
    }

    .topic-description {
        width: 50%;
    }

    .block {
        width: 160px;
    }
    .blocke {
        border: 2px solid var(--grey);
    }
    .program-description {
        width: 100%;
        text-align: center;
    }

    .join {
        display: none;
    }

    .desktop-buttone {
        display: block;
        margin-top: 50px;
    }

    .desktop-button {
        color: var(--grey);
        font-weight: 600;
        font-family: var(--font-lato);
    }

    .desktop-button:hover {
        text-decoration: var(--hover-text-decoration);
    }

    .speakers {
        margin-left: 100px;
        margin-right: 100px;
    }

    .partner {
        display: block;
    }
    
}